<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">

    <appender name="ConsoleOutputAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n%-5level - [%d{yyyy-MM-dd HH:mm:ss}] - %c.%M\(%c{0}.java:%line\)%n%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cn.macrotea.showcase" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="ConsoleOutputAppender"/>
    </root>

</configuration>